**/archive
**/nilearn_cache
**/matlab
**/.ipynb_checkpoints
**/__pycache__
**/rstan.modelfit.output
**/.git

#
concept
manuscript
results
stimuli

#
.virtual_documents

#
analysis/fMRIus/src/ROIs/TPJ
analysis/fMRIus/src/ROIs/other
analysis/fMRIus/src/behavior
analysis/fMRIus/src/mvpa
analysis/fMRIus/src/modeling/LISA
analysis/fMRIus/src/modeling/matlab
analysis/fMRIus/src/helpers/wb_command_wrapper.sh
